@forward "sass:math";
@use "sass:math" as *;
$hexagonRatio: calc(2/sqrt(3));
$tileWidth: 20vmin;
$tileHeight: $tileWidth*$hexagonRatio;
$sideLength: $tileHeight*.5;
$topHeight: $sideLength*.5;
$playerColors: ("Red": red, "Yellow":yellow, "Blue":blue, "Green":green, )