@use "./consts.scss" as *;

.corners > div {
  margin-bottom: $topHeight;
  justify-content: center;
  gap: $tileWidth;
  height: 0;

  &:nth-child(2n) {
    margin-bottom: $topHeight*2;
  }
}

.corner {
  z-index: 2;
  position: relative;
  margin: -.75em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;

  &:hover {
    background-color: rgba(#ddd, .5);
  }

  @each $name, $color in $playerColors {
    &.#{$name} {
      background-color: $color;

      &:hover {
        background-color: lighten($color, 2);
      }
    }
  }
}