@use "./consts.scss" as *;

.corners > div {
  margin-bottom: $topHeight;
  justify-content: center;
  gap: $tileWidth;
  height: 0;

  &:nth-child(2n) {
    margin-bottom: $topHeight*2;
  }
}

.corner {
  z-index: 2;
  position: relative;
  margin: -.75em;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;

  &:not(.hasBuilding):hover {
    background-color: rgba(#ddd, .5);
  }

  &.hasBuilding {
    &::after, &::before {
      content: '';
      display: block;
      position: absolute;
      top: -50%;
      left: -25%;
      height: 150%;
      width: 150%;
      align-self: center;
      background-size: 300% 100%;
      background-repeat: no-repeat;
      image-rendering: pixelated;
    }

    &::after {
      background-image: url('../assets/roofs.png');
    }

    &::before {
      filter: drop-shadow(-.05em .25em .25em #000c);
      background-image: url('../assets/walls.png');
    }

    &.Blue::after {
      filter: hue-rotate(95deg);
    }

    &.Yellow::after {
      filter: hue-rotate(256deg) brightness(1.2);
    }

    &.Red::after {
      filter: hue-rotate(229deg) brightness(.9);
    }
  }
}