@use "./consts.scss" as *;

.DiceWrapper {
  --dice-size: 4em;
  position: fixed;
  background-color: #fff5;
  border-radius: 1em;
  top: calc(50vh - 4em);
  animation: DiceIn 500ms ease-out;
  box-shadow: .1em 1em 2em #0007;
  transition-duration: 800ms;
  transition-property: scale, top, background-color, box-shadow;
  transition-timing-function: ease-out, ease-in-out, ease-out;

  > div {
    display: inline-flex;
    filter: drop-shadow(0 .5em .75em #000a);
  }

  &.Rolled {
    top: 0;
    scale: 50%;
    transform-origin: top;
    background-color: #0000;
    box-shadow: none;
  }

  @keyframes DiceIn {
    from {
      scale: 0;
      box-shadow: 0 0 0 #0007;
    }
  }
}