@use "./consts.scss" as *;

.edges {
  margin-top: $topHeight*.5;

  > div {
    justify-content: center;
    gap: $tileWidth;
    height: 0;
    margin-bottom: $topHeight*1.5;

    &:nth-child(2n-1) {
      gap: $tileWidth*.5;

      > .edge {
        rotate: 60deg;

        &:nth-child(even) {
          rotate: -60deg;
        }
      }

      &:nth-child(n+7) {
        > .edge {
          rotate: 60deg;

          &:nth-child(odd) {
            rotate: -60deg;
          }
        }
      }
    }
  }
}

.edge {
  z-index: 1;
  position: relative;
  margin: $sideLength*-.465 -.25em;
  width: .5em;
  height: $sideLength * .93;
  border-radius: .25em;
  image-rendering: pixelated;

  &.hasRoad {
    background: url('../assets/cobblestone.png') #{$pixelDensity*38.7}/#{$pixelDensity*32} $pixelDensity*32;
  }

  &:hover {
    background-color: rgba(#ddd, .5);
  }

  @each $name, $color in $playerColors {
    &.#{$name} {
      background-color: saturate($color, 20);
      outline: solid $color .075em;

      &:hover {
        background-color: lighten($color, 2);
      }
    }
  }
}