@use "./consts.scss" as *;

.game {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  perspective: 30rem;
}

.board {
  width: $tileWidth * 5;
  height: $tileWidth * 4.625;
  top: -2em;
  isolation: isolate;
  position: relative;
  transform: rotateX(30deg);

  > div {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;

    > div {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}