@use "./consts.scss" as *;
@use "./tile.scss";
@use "./edge.scss";
@use "./corner.scss";
@use "./game.scss";
@use "./dice.scss";

body, body > div, :root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: $tileWidth * 0.15625;
  font-family: fantasy;
  overflow: hidden;
}