@mixin textures($desert: true) {
  &.Wheat {
    filter: brightness(1.1);
    background-image: url('../assets/Wheat.png');
  }

  &.Sheep {
    filter: brightness(1.2) saturate(1.3);
    background-image: url('../assets/Sheep.png');
  }

  &.Wood {
    filter: contrast(1.5) brightness(1.1) saturate(.7);
    background-image: url('../assets/Wood.png');
  }

  &.Stone {
    filter: contrast(1.2) brightness(1.2) saturate(0.5);
    background-image: url('../assets/Stone.png');
  }

  &.Clay {
    filter: contrast(1.1) brightness(1.3) saturate(1.4);
    background-image: url('../assets/Clay.png');
  }

  @if($desert) {
    &.Desert {
      filter: contrast(.9) brightness(1.1);
      background-image: url('../assets/Desert.png');
    }
  }
}