@use "./consts.scss" as *;

.players {
  position: fixed;
  top: 1.75em;
  right: 1em;
  min-width: 10em;
  direction: rtl;
}

.player {
  padding: .3em .5em .2em;
  height: 2.85em;
  font-size: 1rem;

  > .name {
    height: 1.5em;
    font-size: .5em;
    letter-spacing: .05ch;
    transition: .4s ease;
    transition-property: font-size, letter-spacing;
  }

  &.myTurn > .name {
    font-size: .6rem;
    letter-spacing: .072ch;
  }

  @each $name, $color in $playerColors {
    &.#{$name} {
      background: linear-gradient(to right, #0000, rgba(lighten($color, 5), .75) 2em calc(100% - .5em), #0000);

      > .name > span {
        color: textClr($color);
      }

      &.myTurn {
        background: linear-gradient(to right, #0000, rgba(saturate(lighten($color, 6), 5), .75) 1.5em calc(100% - .5em), #0000);

        > .name > span {
          color: saturate(textClr($color), 25);
        }
      }
    }
  }

  &.throwCards {
    position: fixed;
    top: 40vh;
    left: 50vw;
    translate: -50% -50%;
    font-size: 2rem;
    width: 90vw;
    z-index: 4;

    > .resources {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      inset: 0;

      > .card {
        transform: none;
        margin: .1em;
        transition-property: translate, scale;

        &.selected {
          scale: 1.1;
          box-shadow: 0 .2em .4em #000c;
          translate: 0 -.3em;
        }
      }
    }

    > .name {
      direction: ltr;
      margin-left: 8ch;
    }
  }
}