@use "./consts.scss" as *;

.players {
  position: fixed;
  top: 1em;
  right: 1em;
  min-width: 10em;
  direction: rtl;
}

.player {
  padding: .3em .5em .2em;
  height: 2.85em;

  > .name {
    height: 1.5em;
    font-size: .5rem;
    letter-spacing: .05ch;
  }

  @each $name, $color in $playerColors {
    &.#{$name} {
      background: linear-gradient(to right, #0000, rgba(lighten($color, 5), .75) 2em calc(100% - .5em), #0000);

      > .name > span {
        color: textClr($color);
      }
    }
  }
}