@use "./consts.scss" as *;

.tiles > div {
  margin-bottom: -$tileHeight * .25;

  &:nth-child(1), &:nth-child(5) {
    margin-left: $tileWidth;
  }

  &:nth-child(2), &:nth-child(4) {
    margin-left: $tileWidth * .5;
  }
}

.tile {
  position: relative;
  display: inline-grid;
  place-items: center;
  width: $tileWidth;
  height: $tileHeight;
}

.tileImage {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: 0;
  image-rendering: pixelated;
  background-size: $tileWidth*.25 $tileHeight*.25;

  &.Wheat {
    filter: brightness(1.1);
    background-image: url('../assets/Wheat.png');
  }

  &.Sheep {
    filter: brightness(1.2) saturate(1.3);
    background-image: url('../assets/Sheep.png');
  }

  &.Wood {
    filter: contrast(1.5) brightness(1.1) saturate(.7);
    background-image: url('../assets/Wood.png');
  }

  &.Stone {
    filter: contrast(1.2) brightness(1.2) saturate(0.5);
    background-image: url('../assets/Stone.png');
  }

  &.Clay {
    filter: contrast(1.1) brightness(1.3) saturate(1.4);
    background-image: url('../assets/Clay.png');
  }

  &.Desert {
    filter: contrast(.9) brightness(1.1);
    background-image: url('../assets/Desert.png');
  }
}

.animal {
  background-image: url('../assets/sheepAnimal.png');
  width: $tileWidth*.25*.25;
  height: $tileHeight*.125*.25;
  background-size: 100%;
  position: absolute;
}

.tileNumber {
  color: #222;
  box-shadow: .1em .25em .75em black, inset -.25em -.4em .3em #0005;
  position: absolute;
  width: 2em;
  height: 2em;
  background-color: white;
  border-radius: 50%;
  display: grid;
  place-items: center;
  z-index: 3;

  &.marked {
    font-size: 1.1em;
    color: #922;
  }
}