@use "./consts.scss" as *;

.tiles > div {
  margin-bottom: -$tileHeight * .25;

  &:nth-child(1), &:nth-child(5) {
    margin-left: $tileWidth;
  }

  &:nth-child(2), &:nth-child(4) {
    margin-left: $tileWidth * .5;
  }
}

.chooseTile .tile:hover > .tileImage {
  filter: brightness(.5);
}

.tile {
  position: relative;
  display: inline-grid;
  place-items: center;
  width: $tileWidth;
  height: $tileHeight;

  > .tileNumber {
    color: #222;
    box-shadow: .1em .25em .75em black, inset -.25em -.4em .3em #0005;
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: white;
    border-radius: 50%;
    display: grid;
    place-items: center;
    // transition: scale 400ms cubic-bezier(0.6, -0.28, 0.74, 0.05);
    transition: scale 600ms cubic-bezier(0.6, 0.3, 0.4, 1.8) 200ms;
    z-index: 3;

    &.marked {
      font-size: 1.1em;
      color: #922;
    }
  }

  &:hover > .tileNumber {
    scale: 1.2;
    transition-delay: 400ms;
  }
}

.tileImage {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  width: inherit;
  height: inherit;
  object-fit: cover;
  z-index: 0;
  image-rendering: pixelated;
  // background-size: $tileWidth*.25 $tileHeight*.25;
  background-size: $pixelDensity*16 $pixelDensity*16*$hexagonRatio;
  @include textures;
}

.animal {
  background-image: url('../assets/sheepAnimal.png');
  width: $tileWidth*.25*.25;
  height: $tileHeight*.125*.25;
  background-size: 100%;
  position: absolute;
}